body {
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
}

.logo {
	text-transform:uppercase;
	letter-spacing:2px;
	color:#fff;
	font-size:2rem;
	margin:8px 0 0;
	display:block
}

.logo:hover {
	color:#fff;	
}

.button {
	text-transform:uppercase;
	letter-spacing:2px;	
	width:100%;
}


/* header */

header {
	background: $primary-color;
	padding: 2rem 0;
}

header .button {
	max-width:120px;
	margin:0 0 0;
}

/* hero */

.hero {
	position: relative;
}

.hero aside {
	position: absolute;
	left:0;
	right:0;
	bottom: 0;
}

.hero h2 {
	text-transform: uppercase;
	font-weight: 700;	
}

.hero h2,.hero h4{
	color:#fff;
}

.hero img {
	width:100%;
}


/* feature boxes module */

.featureboxes {
	float: left;
	text-align:center;
	margin:1.5rem 0;
}

.featureboxes i {
	color: #333333;
	font-size: 3rem;
}

.featureboxes article {
	margin-bottom:2rem;
}

	.featureboxes article:last-child{
		margin:0;
	}

	.featureboxes article:hover i {
		color:$primary-color;
	}


.featureboxes h3 span {
	margin:1rem 0;
}

.featureboxes h3,.featureboxes p {
	text-align:left;
}

/* blockquotes */

blockquote {
	margin:3rem 0;
}

/* blog */

.blog {
	background:#F2F5F5;
}

.page--blog {
	background:#fff;
}

.blog article  {
	display: inline-block;
	margin:2.5rem 0;
	clear:both;
}

.blog article h1 {
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: 700;
}

.meta {
	font-weight:800;
	opacity:0.45;
}

.meta i {
	margin:0 7px 0 15px;
}

.meta i:first-child {
	margin-left:0;
}

.blog .button {
	max-width:170px;
	float:left;
}

/* section headers */

.section__header {
	display:inline-block;
	border-bottom:1px solid #ddd;
	margin:0;
	padding:1rem 0;
	text-transform:uppercase;
	letter-spacing:3px;
}


/* action bar */

.action__bar {
	background:$primary-color;
	padding:2rem 0;
}

.action__bar h2 {
	color:#fff;
}

.action__bar .button {
	margin:0;
}

/* gallery */


.gallery {
	padding:4rem 0;
}

.gallery .sectionheader {
	margin-top:0;
}

.clearing-thumbs li, [data-clearing] li {
	margin:0;
	padding:0;
	overflow:hidden;
	-moz-transition: all .6s ease-out;
	-o-transition: all .6s ease-out;
	-ms-transition: all .6s ease-out;
	-webkit-transition: all .6s ease-out;
	transition: all .6s ease-out;		
	background:$primary-color;
}

.clearing-thumbs li:hover, [data-clearing] li:hover {
	background:$primary-color;
}

.clearing-thumbs li img, [data-clearing] li img {
	-moz-transition: all .55s ease-out;
	-o-transition: all .55s ease-out;
	-ms-transition: all .55s ease-out;
	-webkit-transition: all .55s ease-out;
	transition: all .55s ease-out;	
	z-index:999;
	position: relative;
}

.clearing-thumbs li:hover img, [data-clearing] li:hover img {
	-webkit-transform: translate(0,-70px);
	transform: translate(0,-70px);
}

.clearing-thumbs li h3, [data-clearing] li h3 {
	position: absolute;
	z-index:998;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height: 40px;
	margin: 10px 0;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	-webkit-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
	color: #FFFFFF;
	font-size:1.4rem;
}

.clearing-thumbs li:hover h3, [data-clearing] li:hover h3 {
	opacity:1;
}


/* page content */

.page__content {
	padding:3rem 0;
}

.page__content ul {
	margin:2rem 0;
}

	.page__content ul li {
		padding:0.5rem 0;
	}

/* sidebar */

.sidebar {
	background:lighten($primary-color,35%);
	padding:1.5rem;
}

.sidebar p {
	color:darken($primary-color,25%);	
}

.sidebar h1,.sidebar h2,.sidebar h3,.sidebar h4,.sidebar h5,.sidebar h6 {
	color:darken($primary-color,35%);		
}

/* footer */

footer {
	background:#F0F5F3;
}

footer aside {
	margin:2rem 0;
}

footer aside h2 {
	font-weight:600;
	text-transform:uppercase;
	font-size:2rem;
	color:$primary-color;
	padding-bottom:3rem;
}

footer iframe {
}

.aside--inner {
	padding:1rem;
	margin-bottom:1rem;
	background:lighten($primary-color,40%);
}

.aside--inner p {
	color:lighten($primary-color,10%);
	margin:0;
}


/* contact */

.contact {

}

textarea {
	height:8em;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	margin: 1em 0 0 0;
	border-color:lighten($primary-color,40%);
	box-shadow:none;
}

select {
	margin: 1em 0 0 0;
	border-color:lighten($primary-color,40%);
	box-shadow:none;	
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	border-color:$primary-color;
	box-shadow:none;
}

.contact label {
	text-transform:uppercase;
	letter-spacing:2px;
	margin-top:2em;
	color:$primary-color
}

	label.error {
		margin-top:0;
	}

.contact button {
	margin:2rem auto;
	float:none;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:900!important;
}


@media #{$medium-up} {

	.featureboxes article {
		margin:1.5rem 0;
	}

	.featureboxes article:last-child {
		margin:1.5rem 0 0;
	}

	.featureboxes h3,.featureboxes h3 span {
		margin:0;
	}	


	.hero aside {
		bottom:100px;
	}

	.logo,.logo:hover {
		font-size:3rem;
		color:$primary-color
	}
	header {
		background:#fff
	}


}


@media #{$xlarge-up} {
	.hero aside {
		bottom:150px;
	}
	.page--hero aside {
		bottom:60px;
	}

}